
<h1>Feature Products</h1>
{% for collection in section.settings.test_collection%}
    <div>
        <div class=" h-80">
            <img class="block h-full w-full" src="{{collection.featured_image|  image_url }}" alt="image cant be shown"/>
        </div>
        <a href="{{collection.url}}">{{collection.title}}</a>
    </div>
    
{% endfor %}
{% comment %} {% for product in section.settings.test_collection.products %}
    <div>
        <div class=" h-80">
            <img class="block h-full w-full" src="{{product.featured_image|  image_url }}" alt="image cant be shown"/>
        </div>
       <div class="flex justify-between">
        <a href="{{product.url}}" >{{product.title | truncatewords: 2,'...'}}</a>

        {% form 'product', product %}
            <input type="text" value="{{product.selected_or_first_available_variant.id}}" name="id" hidden/>
            {% comment %} name="product-id" {% endcomment %}
            {% comment %} <input min="1" type="number" id="quantity" name="quantity" value="1"/> {% endcomment %}
            <input type="submit" value="Add to cart">
          {% endform %}
        {% comment %} <a href="#">Add to Cart</a> {% endcomment %}
       </div>
        
    </div>
{% endfor %} {% endcomment %}

{% schema %}
{
    "name": "index shuwawa",
    "settings": [
              {
                "label": "Select Collection",
                "type": "collection_list",
                "id":"test_collection"
              }
        ],
    "presets": [
        {
            "name": "index shuwawa"
        }
    ]
}
{% endschema %}